#!/bin/bash

function check_packages() {
    for pkg in "$@"; do
        if ! rpm -q $pkg 2> /dev/null; then
            echo "ERROR: Salt package \"$pkg\" is not installed"
            echo
            return 1
        fi
    done
}

function check_packages_failhard() {
    if ! check_packages $1; then
        exit 111
    fi
}

function validate_rpm_pkg() {
    OUT=$(rpm -V $1 2>&1)
    [[ $? == 0 ]] && echo "Status: Passed" || echo "Status: $OUT"
}
